<section 
    class="principal" 
    id="talk">

    <div 
        class="section-header"
        id="mark3">
        <h2>Let's to talk!</h2>
    </div>  

    <div id="contacts-list">
        <div class="contact-card">
            <i class="fa-brands fa-whatsapp"></i>
            <a 
                href="https://wa.me/5511983809400?text=Olá,+Filipe.+Tudo+bem?+" 
                target="_blank"
                class="secondary-text">
                (11) 98380-9400
            </a>
        </div>

        <div class="contact-card">
            <i class="fa-regular fa-envelope"></i>
            <a 
                href="mailto:filipealexandre200110@gmail.com" target="_blank"
                class="secondary-text">
                filipealexandre200110@gmail.com
            </a>
        </div>

        <div class="contact-card">
            <i class="fa-brands fa-linkedin-in"></i>
            <a 
                href="https://www.linkedin.com/in/filipe-alexandre-b17377261/" 
                target="_blank"
                class="secondary-text">
                Filipe Alexandre
            </a>
        </div>

        <div class="contact-card">
            <i class="fa-brands fa-github"></i>
            <a 
                href="https://github.com/FilipeOliveira65" target="_blank"
                class="secondary-text">
                FilipeOliveira65
            </a>
        </div>
    </div>
</section>