@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Bebas Neue", sans-serif;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  overflow-x: hidden;
  background: linear-gradient(100deg, #0a0a0e 0%, #1e1a3b 85%);
}

strong {
  color: #24fe00;
  text-shadow: 0px 0px 30px rgba(0, 255, 21, 0.5);
}

@keyframes apr {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.apr {
  animation: apr 2s;
}

header {
  height: 12vh;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: linear-gradient(100deg, #100C33 0%, #2c2081 51%, #392c9b 85%);
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
}
header #logo {
  width: 150px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  font-weight: 100;
  color: #68657D;
}
header nav {
  color: #ffff44;
  font-size: 20px;
  position: relative;
  right: 100px;
}
header nav ul {
  display: flex;
  flex-direction: row;
}
header nav ul li {
  list-style-type: none;
  width: 160px;
  display: flex;
  justify-content: center;
}
header nav ul li a {
  text-decoration: none;
  color: #b7b7b9;
}
header nav ul li a span {
  display: none;
}
header nav ul li a:hover, header nav ul li span:hover {
  animation: apr 2s;
  color: #24fe00;
}
header nav ul li a:hover span, header nav ul li span:hover span {
  display: inline;
}
header nav ul li:first-child {
  margin-left: 0;
}
header .menu {
  height: 90px;
  width: 90px;
  display: none;
}
header .menu span {
  height: 3px;
  width: 35px;
  margin: 3px;
  display: block;
  background-color: #b7b7b9;
  border: 0px solid;
  border-radius: 2px;
}

#initial {
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: end;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.appear {
  animation: appear 2s;
}

#principal {
  min-height: 40vh;
  width: 100vw;
}
#principal #decoration1, #principal #decoration2, #principal #decoration3, #principal #decoration4 {
  height: 100px;
  width: 150px;
  position: absolute;
}
#principal #decoration1 div, #principal #decoration2 div, #principal #decoration3 div, #principal #decoration4 div {
  height: 0.5px;
  width: 150px;
  margin: 8px;
  margin-left: 0;
  background-color: #24fe00;
  position: sticky;
}
#principal #decoration1 {
  top: 200px;
  left: -80px;
  transform: rotateZ(55deg);
}
#principal #decoration2 {
  top: 200px;
  left: -80px;
  transform: rotateZ(-30deg);
}
#principal #decoration3 {
  bottom: 0px;
  left: -80px;
  transform: rotateZ(20deg);
}
#principal #decoration4 {
  bottom: 10px;
  left: -80px;
  transform: rotateZ(60deg);
}
#principal #about {
  max-height: 165vh;
  width: 80vw;
  padding: 0 0 0 4vw;
}
#principal #about #mark0 {
  height: 90px;
  background-color: transparent;
}
#principal #about #nameOcup #ocp {
  font-family: "Rubik Mono One", monospace;
  font-size: 30px;
  color: #68657d;
}
#principal #about #nameOcup h1 {
  font-family: "Rubik Mono One", monospace;
  font-size: 50px;
  color: #dd7cfc;
}
#principal #about #resume {
  width: 90%;
  color: #b7b7b9;
  font-family: "Jost", sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
  border: 0ps solid;
  border-radius: 10px;
  display: none;
  animation: appear 4s;
}
#principal #about #resume ul {
  list-style-type: none;
}
#principal #about #resume ul li {
  display: flex;
  align-items: center;
}
#principal #about #resume ul li span {
  font-size: 40px;
  color: #dd7cfc;
  margin-right: 10px;
}

.show {
  height: 60%;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 0vh;
}
.show .identifier {
  width: 570px;
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  font-family: "Rubik Mono One", monospace;
  background-color: #24fe00;
  color: #fff;
  border: 0px solid;
  border-radius: 3px;
}
.show #proj {
  background-color: #008cff;
}
.show #tlk {
  background-color: #eea811;
}
.show #mark1, .show #mark2, .show #mark3 {
  height: 90px;
  background-color: transparent;
}
.show #technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.show #technologies .tech {
  min-height: 150px;
  width: 200px;
  margin: 50px 0px 0px 0px;
  padding: 20px;
  border-style: solid;
  border-width: 0px 1px 0 0;
  border-color: #b7b7b9;
  display: flex;
  align-items: center;
  justify-content: initial;
  flex-direction: column;
}
.show #technologies .tech h3 {
  color: #24fe00;
  text-shadow: 0px 0px 30px rgba(0, 255, 21, 0.5);
  font-size: 20px;
  border: 0px solid;
  border-radius: 3px;
}
.show #technologies .tech ul {
  list-style-type: none;
  margin-top: 20px;
  color: #b7b7b9;
}
.show #technologies .tech:last-child {
  border-width: 0 0 0 0;
}

#talk {
  min-height: 50vh;
}
#talk #all {
  display: flex;
  flex-direction: row;
}
#talk .gen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px 0 50px 0;
  padding: 20px;
  color: #b7b7b9;
  font-size: 20px;
  border-width: 0px 1px 0 0;
  border-color: #b7b7b9;
  border-style: solid;
}
#talk .gen i {
  font-size: 30px;
}
#talk .gen a {
  color: #b7b7b9;
  text-decoration: none;
}
#talk .gen:hover i {
  transition: 1s;
  color: #24fe00;
  text-shadow: 0px 0px 30px rgba(0, 255, 21, 0.5);
}
#talk .gen:hover a {
  transition: 1s;
  color: #24fe00;
  text-shadow: 0px 0px 30px rgba(0, 255, 21, 0.5);
}
#talk .gen:last-child {
  border: none;
}
#talk #whats, #talk #mail {
  height: 50px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #dd7cfc;
  border: 0px solid;
  border-radius: 50px;
}
#talk #whats a, #talk #mail a {
  color: #fff;
  text-decoration: none;
}
#talk #whats a:hover, #talk #mail a:hover {
  background-color: #dd7cfc;
}

footer {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #100C33;
  color: #fff;
  font-weight: 100;
  box-shadow: 20px 0 30px 1px rgba(0, 0, 0, 0.5);
}
footer #power {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer #power #obs {
  font-size: 10px;
}
footer img {
  height: 100px;
}

@media only screen and (max-width: 1080px) {
  header {
    height: 8vh;
  }
  header #logo {
    font-size: 30px;
  }
  header nav {
    display: none;
  }
  header .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 50px;
  }
  #initial {
    height: 30vh;
  }
  #principal {
    min-height: 80vh;
  }
  #principal #decoration1,
  #principal #decoration2,
  #principal #decoration3,
  #principal #decoration4 {
    display: none;
  }
  #principal #about #nameOcup #ocp {
    font-size: 25px;
  }
  #principal #about #nameOcup h1 {
    font-size: 35px;
  }
  #principal #about #resume {
    font-size: 20px;
    text-align: initial;
  }
  .show .identifier {
    width: 250px;
    font-size: 20px;
  }
  .show #technologies {
    display: flex;
    justify-content: center;
  }
  .show #technologies .tech {
    height: 150px;
    border-width: 0px 0px 1px 0;
    display: flex;
    justify-content: center;
  }
  .show #technologies .tech:last-child {
    border-width: 0px 0px 1px 0;
  }
  #talk #all {
    display: flex;
    flex-direction: column;
  }
  #talk #all .gen {
    min-width: 350px;
    margin: 50px 0 0px 0;
    padding: 20px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #b7b7b9;
    font-size: 15px;
  }
  #talk #all .gen:last-child {
    border: none;
  }
}/*# sourceMappingURL=style.css.map */