@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Bebas Neue", sans-serif;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  overflow: auto;
  background: linear-gradient(100deg, #0a0a0e 0%, #1e1a3b 85%);
}

strong {
  color: #24fe00;
  text-shadow: 0px 0px 30px rgba(0, 255, 21, 0.5);
}

@keyframes apr {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.apr {
  animation: apr 2s;
}

header {
  height: 12vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: clip;
  background: linear-gradient(100deg, #100C33 0%, #2c2081 51%, #392c9b 85%);
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
}
header #logo {
  width: 150px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  font-weight: 100;
  color: #68657D;
}
header nav {
  color: #ffff44;
  font-size: 20px;
  position: relative;
}
header nav ul {
  display: flex;
  flex-direction: row;
}
header nav ul li {
  list-style-type: none;
  min-width: 180px;
  display: flex;
  justify-content: center;
}
header nav ul li a {
  min-width: 180px;
  text-decoration: none;
  text-align: center;
  color: #b7b7b9;
  transition: all 0.5s ease-in-out;
}
header nav ul li a span {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
header nav ul li a:hover {
  all: 0.5s;
  color: #24fe00;
}
header nav ul li a:hover span {
  opacity: 1;
}
header nav ul li span:hover {
  opacity: 1;
}
header nav ul li:first-child {
  margin-left: 0;
}
header .menu {
  height: 8vh;
  width: 90px;
  display: none;
}
header .menu span {
  height: 3px;
  width: 35px;
  margin: 3px;
  display: block;
  background-color: #68657D;
}

#initial {
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#initial #saying-adjectives {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#initial #saying-adjectives p {
  font-size: 50px;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes smoothLoad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#principal {
  min-height: 40vh;
  width: 100vw;
  overflow: hidden;
}
#principal #presentation {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 30%;
  left: 4vw;
  transition: all 1s ease-in-out;
}
#principal #presentation img {
  height: 300px;
  margin-right: 40px;
  border-radius: 131px 126px 135px 200px;
  -webkit-border-radius: 131px 126px 135px 200px;
  -moz-border-radius: 131px 126px 135px 200px;
}
#principal #presentation #showingAdjectives #iam {
  font-size: 25px;
  color: #dd7cfc;
}
#principal #presentation #showingAdjectives #adjective {
  font-size: 50px;
  color: #68657D;
  animation: appear unset infinite;
}
#principal #about {
  max-height: 165vh;
  width: 80vw;
  padding: 0 0 0 4vw;
}
#principal #about #mark0 {
  height: 90px;
  background-color: transparent;
}
#principal #about #nameOcup #ocp {
  font-family: "Rubik Mono One", monospace;
  font-size: 30px;
  color: #68657d;
}
#principal #about #nameOcup h1 {
  font-family: "Rubik Mono One", monospace;
  font-size: 50px;
  color: rgb(221, 124, 252);
}
#principal #about #resume {
  width: 90%;
  color: #b7b7b9;
  font-family: "Jost", sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
  border: 0px solid;
  border-radius: 10px;
  display: none;
  animation: smoothLoad 4s;
}
#principal #about #resume ul {
  list-style-type: none;
}
#principal #about #resume ul li {
  display: flex;
  align-items: center;
}
#principal #about #resume ul li span {
  font-size: 40px;
  color: #dd7cfc;
  margin-right: 10px;
}
#principal #about #resume #curriculum {
  margin: 10px 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}
#principal #about #resume #curriculum button {
  height: 35px;
  width: 170px;
  background-color: #68657d;
  border: 0px solid;
  border-radius: 5px;
  transition: all 1s ease-in-out;
}
#principal #about #resume #curriculum button a {
  color: #24fe00;
  text-decoration: none;
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
#principal #about #resume #curriculum button:hover {
  box-shadow: 0px 0px 30px #24fe00;
  all: 1s;
}

.show {
  height: 60%;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 0vh;
  animation: smoothLoad 4s;
}
.show .identifier {
  width: 570px;
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  font-family: "Rubik Mono One", monospace;
  background-color: #24fe00;
  color: #fff;
  border: 0px solid;
  border-radius: 3px;
}
.show #tlk {
  background-color: #eea811;
}
.show #mark1, .show #mark2, .show #mark3 {
  height: 90px;
  background-color: transparent;
}
.show #technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.show #technologies .tech {
  min-height: 150px;
  width: 200px;
  margin: 50px 0px 0px 0px;
  padding: 20px;
  border-style: solid;
  border-width: 0px 1px 0 0;
  border-color: #b7b7b9;
  display: flex;
  align-items: center;
  justify-content: initial;
  flex-direction: column;
}
.show #technologies .tech h3 {
  color: #24fe00;
  text-shadow: 0px 0px 30px rgba(0, 255, 21, 0.5);
  font-size: 25px;
  border: 0px solid;
  border-radius: 3px;
}
.show #technologies .tech ul {
  list-style-type: none;
  margin-top: 20px;
  font-size: 25px;
  color: #b7b7b9;
}
.show #technologies .tech:last-child {
  border-width: 0 0 0 0;
}
.show #markProj {
  background-color: #008cff;
}
.show #projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.show #projects a {
  min-height: 250px;
  width: 200px;
  margin: 50px 20px 0px 0px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #b7b7b9;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.show #projects a .project {
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: initial;
  flex-direction: column;
  text-align: center;
}
.show #projects a .project h3 {
  color: #008cff;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
}
.show #projects a .project #tools {
  max-width: 200px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.show #projects a .project #tools div {
  margin: 2px 5px;
  padding: 5px;
  border: 0px solid;
  border-radius: 5px;
  font-size: 10px;
  background-color: #68657D;
  color: #fff;
}
.show #projects a .project #divisor {
  height: 0px;
  width: 100px;
  margin: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #b7b7b9;
  transition: all 0.5s ease-in-out;
}
.show #projects a .project p {
  color: #fff;
  text-align: initial;
}
.show #projects a:hover {
  box-shadow: 0px 0px 30px #008cff;
  border-color: #008cff;
  opacity: 1s;
}
.show #projects a:hover .project h3 {
  all: 1s;
  text-shadow: 0px 0px 30px #008cff;
}
.show #projects a:hover .project #divisor {
  all: 1s;
  border-color: #008cff;
}

#talk {
  min-height: 50vh;
}
#talk #all {
  display: flex;
  flex-direction: row;
}
#talk .gen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px 0 50px 0;
  padding: 20px;
  color: #b7b7b9;
  font-size: 20px;
  border-width: 0px 1px 0 0;
  border-color: #b7b7b9;
  border-style: solid;
}
#talk .gen i {
  font-size: 30px;
}
#talk .gen a {
  color: #b7b7b9;
  text-decoration: none;
}
#talk .gen:hover i {
  transition: 1s;
  color: #eea811;
  text-shadow: 0px 0px 30px #eea811;
}
#talk .gen:hover a {
  transition: 1s;
  color: #eea811;
  text-shadow: 0px 0px 30px #eea811;
}
#talk .gen:last-child {
  border: none;
}
#talk #whats, #talk #mail {
  height: 50px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #dd7cfc;
  border: 0px solid;
  border-radius: 50px;
}
#talk #whats a, #talk #mail a {
  color: #fff;
  text-decoration: none;
}
#talk #whats a:hover, #talk #mail a:hover {
  background-color: #dd7cfc;
}

footer {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #100C33;
  color: #fff;
  font-weight: 100;
  box-shadow: 20px 0 30px 1px rgba(0, 0, 0, 0.5);
}
footer #power {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer #power #obs {
  font-size: 10px;
}
footer img {
  height: 100px;
}

@media only screen and (max-width: 390px) {
  header {
    height: 8vh;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  header #logo {
    font-size: 30px;
    margin: 0px 0 0 30px;
  }
  header #nav {
    position: fixed;
    width: 100vw;
    top: 50px;
    left: 0;
    padding: 30px;
    display: none;
    justify-content: center;
    background: linear-gradient(100deg, #100C33 0%, #2c2081 51%, #392c9b 85%);
    z-index: 999;
  }
  header #nav ul {
    display: flex;
    flex-direction: column;
  }
  header .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 30px;
    z-index: 999;
  }
  #initial {
    height: 30vh;
  }
  #principal {
    min-height: 90vh;
  }
  #principal #presentation {
    top: 20%;
  }
  #principal #presentation img {
    height: 100px;
    margin-right: 20px;
  }
  #principal #presentation #showingAdjectives #iam {
    font-size: 15px;
  }
  #principal #presentation #showingAdjectives #adjective {
    font-size: 25px;
  }
  #principal #about #nameOcup #ocp {
    font-size: 25px;
  }
  #principal #about #nameOcup h1 {
    font-size: 35px;
  }
  #principal #about #resume {
    font-size: 20px;
    text-align: initial;
  }
  .show .identifier {
    width: 250px;
    font-size: 20px;
  }
  .show #technologies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .show #technologies .tech {
    min-height: 150px;
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    padding: 20px;
    border-width: 0px 0px 1px 0;
  }
  .show #technologies .tech:last-child {
    border-width: 0px 0px 1px 0;
  }
  .show #projects {
    justify-content: center;
  }
  .show #projects a {
    margin: 10px 10px;
  }
  .show #projects a .project {
    display: flex;
    align-items: center;
  }
  .show #projects a:first-child {
    margin-top: 50px;
  }
  #talk #all {
    display: flex;
    flex-direction: column;
  }
  #talk #all .gen {
    min-width: 350px;
    margin: 0px 0 0px 0;
    padding: 20px;
    font-size: 15px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #b7b7b9;
  }
  #talk #all .gen:last-child {
    border: none;
  }
  footer {
    padding: 20px;
  }
}
@media (min-width: 390px) and (max-width: 419px) {
  header {
    height: 8vh;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  header #logo {
    font-size: 30px;
    margin: 0px 0 0 30px;
  }
  header #nav {
    position: fixed;
    width: 100vw;
    top: 50px;
    left: 0;
    padding: 30px;
    display: none;
    justify-content: center;
    background: linear-gradient(100deg, #100C33 0%, #2c2081 51%, #392c9b 85%);
    z-index: 999;
  }
  header #nav ul {
    display: flex;
    flex-direction: column;
  }
  header .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 30px;
    z-index: 999;
  }
  #initial {
    height: 30vh;
  }
  #principal {
    min-height: 80vh;
  }
  #principal #presentation {
    top: 15%;
  }
  #principal #presentation img {
    height: 150px;
    margin-right: 20px;
  }
  #principal #presentation #showingAdjectives #iam {
    font-size: 20px;
  }
  #principal #presentation #showingAdjectives #adjective {
    font-size: 30px;
  }
  #principal #about #nameOcup #ocp {
    font-size: 25px;
  }
  #principal #about #nameOcup h1 {
    font-size: 35px;
  }
  #principal #about #resume {
    font-size: 20px;
    text-align: initial;
  }
  .show .identifier {
    width: 250px;
    font-size: 20px;
  }
  .show #technologies {
    display: flex;
    justify-content: center;
  }
  .show #technologies .tech {
    min-height: 150px;
    display: flex;
    justify-content: initial;
    align-items: center;
    margin: 10px 10px 20px 0px;
    padding: 20px;
    border-width: 0px 0px 1px 0;
    border-radius: 5px;
  }
  .show #technologies .tech:last-child {
    border-width: 0px 0px 1px 0;
  }
  .show #projects {
    justify-content: center;
  }
  .show #projects a {
    margin: 10px 10px;
  }
  .show #projects a .project {
    display: flex;
    align-items: center;
  }
  .show #projects a:first-child {
    margin-top: 50px;
  }
  #talk #all {
    display: flex;
    flex-direction: column;
  }
  #talk #all .gen {
    min-width: 350px;
    margin: 0px 0 0px 0;
    padding: 20px;
    font-size: 15px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #b7b7b9;
  }
  #talk #all .gen:last-child {
    border: none;
  }
  footer {
    padding: 20px;
  }
}
@media (min-width: 420px) and (max-width: 1060px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  header #nav {
    position: fixed;
    width: 100vw;
    top: 50px;
    left: 0;
    padding: 30px;
    display: none;
    justify-content: center;
    background: linear-gradient(100deg, #100C33 0%, #2c2081 51%, #392c9b 85%);
    z-index: 999;
  }
  header #nav ul {
    display: flex;
    flex-direction: column;
  }
  header .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 30px;
    z-index: 999;
  }
  #initial {
    height: 30vh;
  }
  #principal {
    min-height: 80vh;
  }
  #principal #presentation {
    top: 15%;
  }
  #principal #presentation img {
    height: 150px;
    margin-right: 20px;
  }
  #principal #presentation #showingAdjectives #iam {
    font-size: 20px;
  }
  #principal #presentation #showingAdjectives #adjective {
    font-size: 30px;
  }
  #principal #about #nameOcup #ocp {
    font-size: 25px;
  }
  #principal #about #nameOcup h1 {
    font-size: 35px;
  }
  #principal #about #resume {
    font-size: 20px;
    text-align: initial;
  }
  .show .identifier {
    width: 250px;
    font-size: 20px;
  }
  .show #technologies {
    display: flex;
    justify-content: center;
  }
  .show #technologies .tech {
    min-height: 150px;
    display: flex;
    justify-content: initial;
    align-items: center;
    margin: 10px 10px 20px 0px;
    padding: 20px;
    border-width: 1px 1px 0px 0;
    border-radius: 5px;
  }
  .show #technologies .tech:last-child {
    border-width: 1px 1px 0px 0;
  }
  .show #projects {
    justify-content: center;
  }
  .show #projects a {
    margin: 10px 10px;
  }
  .show #projects a .project {
    display: flex;
    align-items: center;
  }
  .show #projects a:first-child {
    margin-top: 50px;
  }
  #talk #all {
    display: flex;
    flex-direction: column;
  }
  #talk #all .gen {
    min-width: 350px;
    margin: 0px 0 0px 0;
    padding: 20px;
    font-size: 15px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #b7b7b9;
  }
  #talk #all .gen:last-child {
    border: none;
  }
  footer {
    padding: 20px;
  }
}/*# sourceMappingURL=style.css.map */