@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
}

body {
    font-family: "Bebas Neue", sans-serif;
    font-family: "Jost", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;

    overflow-x: hidden;

    background: linear-gradient(100deg, #0a0a0e 0%, #1e1a3b 85%);
}

strong {
    color: #24fe00;
    text-shadow: 0px 0px 30px rgba(0, 255, 21, 0.5);
}

@keyframes apr {
    0% {
        opacity: .5;
    } 
    100% {
        opacity: 1;
    }
}

.apr {
    animation: apr 2s;
}

header {
    height: 12vh;
    min-width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    background: linear-gradient(100deg, #100C33 0%, #2c2081 51%, #392c9b 85%);
    box-shadow: 0 0 20px 1px rgb(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px 0 30px;

    #logo {
        width: 150px;

        font-family: "Bebas Neue", sans-serif;
        font-size: 40px;
        font-weight: 100;
        color: #68657D;
    }

    nav {
        color: #ff4f;

        font-size: 20px;

        position: relative;
        right: 100px;

        ul {
            display: flex;
            flex-direction: row;

            li {
                list-style-type: none;
                width: 160px;

                display: flex;
                justify-content: center;

                a {
                    text-decoration: none;

                    color: #b7b7b9;

                    span {
                        display: none;
                    }
                }

                a:hover, span:hover {
                    animation: apr 2s;
                    color: #24fe00;

                    span {
                        display: inline;
                    }
                }
            }

            li:first-child {
                margin-left: 0;
            }
        }
    }

    .menu  {
        height: 90px;
        width: 90px;

        display: none;

        

        span {
            height: 3px;
            width: 35px;

            margin: 3px;

            display: block;

            background-color: #b7b7b9;

            border: 0px solid;
            border-radius: 2px;
        }
    }
}

#initial {
    height: 70vh;
    width: 100vw;

    display: flex;
    justify-content: end;

}

@keyframes appear {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

.appear {
    animation: appear 2s;
}

#principal {
    min-height: 40vh;
    width: 100vw;

    //margin-top: 15vh;
    //padding-top: 15vh;
    
    #decoration1, #decoration2, #decoration3, #decoration4 {
        height: 100px;
        width: 150px;

        position: absolute;

        div {
            height: 0.5px;
            width: 150px;

            margin: 8px;
            margin-left: 0;

            background-color: #24fe00;

            position: sticky;
        }
    }

    #decoration1 {
        top: 200px;
        left: -80px;

        transform: rotateZ(55deg);
    }

    #decoration2 { 
        top: 200px;
        left: -80px;

        transform: rotateZ(-30deg); 
    }

    #decoration3 {
        bottom: 0px;
        left: -80px;

        transform: rotateZ(20deg);
    }

    #decoration4 {
        bottom: 10px;
        left: -80px;

        transform: rotateZ(60deg);
    }

    #about {
        max-height: 165vh;
        width: 80vw;

        // position: absolute;
        // top: 75vh;

        padding: 0 0 0 4vw;

        #mark0 {
            height: 90px;
            background-color: transparent;
        }

        #nameOcup {
            #ocp {
                font-family: "Rubik Mono One", monospace;
                font-size: 30px;
                color: #68657d; 
            }
    
            h1 {
                font-family: "Rubik Mono One", monospace;
                font-size: 50px;
                color: #dd7cfc;
            }
        }

        

        #resume {
            width: 90%;

            // background-color: #44415c;
            color: #b7b7b9;

            font-family: "Jost", sans-serif;
            font-size: 25px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2px;

            margin-top: 20px;

            border: 0ps solid;
            border-radius: 10px;

            display: none;

            animation: appear 4s;

            ul {
                list-style-type: none;

                li {
                    display: flex;
                    align-items: center;

                    span {
                        font-size: 40px;
                        color: #dd7cfc;

                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

.show {
    height: 60%;
    width: 100vw;

    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;

    //margin-top: 10vh;
    padding-top: 0vh;

    //display: block;
    
    .identifier {
        width: 570px;
        font-size: 30px;
        
        margin: 0 auto;
        
        text-align: center;
        
        padding: 10px;

        font-family: "Rubik Mono One", monospace;
        
        background-color: #24fe00;
        color: #fff;
        border: 0px solid;
        border-radius: 3px;    

        
    }

    #proj {
        background-color: #008cff;
    }

    #tlk {
        background-color: #eea811;
    }

    #mark1, #mark2, #mark3 {
        height: 90px;
        background-color: transparent;
    }
    
    #technologies {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        

        .tech {
            min-height: 150px;
            width: 200px;
            

            margin: 50px 0px 0px 0px;
            padding: 20px;

            // background-color: #7d74c05b;

            border-style: solid;
            border-width: 0px 1px 0 0;
            border-color: #b7b7b9;

            display: flex;
            align-items: center;
            justify-content: initial;
            flex-direction: column;

            h3 {
                color: #24fe00;
                text-shadow: 0px 0px 30px rgba(0, 255, 21, 0.5);
                // text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
                // padding: 10px;

                font-size: 20px;

                border: 0px solid;
                border-radius: 3px;
            }

            ul {
                list-style-type: none;

                margin-top: 20px;

                color: #b7b7b9;
            }
    
            // ul {
            //     margin-top: 50px;

            //     font-size: 15px;
            //     // font-family: "Bebas Neue", sans-serif;
            // }
        }

        .tech:last-child {
            border-width: 0 0 0 0;
        }

        // .tech:hover {
        //     transform: scale(1.05);
        //     transition: transform 1s;
        // }
    }
}

#talk {
    min-height: 50vh;

    #all {
        display: flex;
        flex-direction: row;
    }

    .gen {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        margin: 50px 0 50px 0;
        padding: 20px;
        
        color: #b7b7b9;
        font-size: 20px;

        border-width: 0px 1px 0 0 ;
        border-color: #b7b7b9;
        border-style: solid;

        i {
            font-size: 30px;
        }


        a {
            color: #b7b7b9;

            text-decoration: none;
        }
    }

    .gen:hover {
        i {
            transition: 1s;

            color: #24fe00;
            text-shadow: 0px 0px 30px rgba(0, 255, 21, 0.5); 
        }

        a {
            transition: 1s;

            color: #24fe00;
            text-shadow: 0px 0px 30px rgba(0, 255, 21, 0.5); 
        }
    }

    .gen:last-child {
        border: none;
    }

    #whats, #mail {
        height: 50px;
        width: 300px;
        // margin-top: 50px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        background-color: #dd7cfc;
    
        border: 0px solid;
        border-radius: 50px;   
        
        
        a {
            color: #fff;
            
            text-decoration: none;
                
        }
    
        a:hover {
            background-color: #dd7cfc;
        }
    }
}

footer {
    height: 250px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #100C33;
    color: #fff;
    font-weight: 100;

    box-shadow: 20px 0 30px 1px rgb(0, 0, 0, 0.5);

    #power {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        #obs {
            font-size: 10px;
        }
        
    }

    img {
        height: 100px;
    }
}

@media only screen and (max-width: 1080px) {

    header {
        height: 8vh;

        #logo {
            font-size: 30px;
        }

        nav {
            display: none;
        }

        .menu {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            margin-right: 50px;
        }
    }

    #initial {
        height: 30vh;
    }

    #principal {
        min-height: 80vh;

        #decoration1,
        #decoration2,
        #decoration3,
        #decoration4 {
            display: none;
        }

        #about {
            #nameOcup {
                #ocp {
                    font-size: 25px;
                }

                h1 {
                    font-size: 35px;
                }
            }

            #resume {
                font-size: 20px;

                text-align: initial;
            }
        }
    }

    .show {
        
        .identifier {
            width: 250px;

            font-size: 20px;
        }

        #technologies {
            display: flex;
            justify-content: center;

            .tech {
                height: 150px;
                border-width: 0px 0px 1px 0;

                display: flex;
                justify-content: center;

                // h3 {
                //     background-color: #008cff;

                //     // padding: 10px;

                //     // border: 0px solid;
                //     // border-radius: 3px;
                // }
            }

            .tech:last-child {
                border-width: 0px 0px 1px 0;
            }
        }
    }

    #talk {
        #all {
            display: flex;
            flex-direction: column;

            .gen {
                min-width: 350px;

                margin: 50px 0 0px 0;
                padding: 20px;

                border-width: 0px 0px 1px 0px;
                border-style: solid;
                border-color: #b7b7b9;

                font-size: 15px;
            }

            .gen:last-child {
                border: none;
            }
        }
        
    }
    
}