<section 
    class="principal"
    id="projects">

    <div 
        class="section-header"
        id="mark2">
        <h2>Projects</h2>
    </div>

    <div id="projects-area">
        <div 
            class="project-card" 
            id="proj1">
            <a 
                href="https://filipeoliveira65.github.io/login-screen/" 
                target="_blank">
                <h3>Concept: Functional Login Page</h3>

                <div class="used-tech-tags-area">
                    <span>html</span>
                    <span>sass</span>
                    <span>JavaScript</span>
                    <span>responsive</span>
                </div>

                <div class="divisor"></div>

                <p class="secondary-text">
                    It's a small project I created to train my knowledge of <strong>“LocalStorage”</strong>. <br>
                    The site is <strong>fully responsive</strong> and I used the <strong>“Mobile First”</strong>
                    concept.
                </p>
            </a>
        </div>
    </div>
</section>