.principal {
    min-height: calc(300*2px);

    .section-header {
        background-color: #F2668B;
    }

    #journey-area {
        min-height: calc(175*2px);
        width: 100%;
        
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        
        #track-line {
            min-height: 490px;
            width: 1px;

            transform: scaleX(0.5);
            
            position: absolute;

            background-color: #fff;
        }

        #journey-main-area {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .experience-major-area {
                width: 897px;
                min-height: 100px;

                display: flex;
                flex-direction: column;

                .experience-card {
                    width: 430px;
                    padding-left: 20px;
        
                    border: solid #F2668B;
                    border-width: 1px 0 0 0;

                    .experience-title {
                        font-size: 23px;
                        color: #F2668B;
                    }

                    .experience-company {
                        display: flex;
                        align-items: center;
                        justify-content: initial;
                        flex-direction: row;

                        .company-logo {
                            height: 25px;
                            width: 25px;

                            margin-right: 8px;

                            border: 0px solid;
                            border-radius: 5px;
                        }
                    }

                    .experience-details {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        flex-wrap: wrap;

                        .divisor {
                            height: 10px;
                            width: 1px;

                            margin: 0 8px 0 8px;

                            background-color: #fff;
                        }
                    }

                    .experience-description {
                        ul {
                            list-style-type: none;
                            li {
                                color: #b7b7b9;
                            }
                        }

                        ul li:before {
                            content: '- ';
                        }
                    }

                    .experience-tags-area {
                        width: 90%;

                        display: flex;
                        justify-content: initial;
                        flex-wrap: wrap;

                        .experience-tag {
                            font-size: 10px;

                            margin: 0 5px 5px 0;
                            padding: 5px;

                            background-color: #68657D;

                            border: 0 solid;
                            border-radius: 3px;
                        }
                    }
                }
            }
    
            #first {
                align-items: flex-start;
            }
    
            #second {
                align-items: flex-end;
            }

        }
    }
}

@media (max-width: 950px) {
    .principal {
        #journey-area {
            min-height: 100px;
            
            display: flex;
            align-items: center;
            justify-content: center;

            #track-line {
                display: none;
            }

            #journey-main-area {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .experience-major-area {
                    width: 300px;
                    min-height: 100px;

                    display: flex;
                    align-items: center;

                    .experience-card {
                        width: 300px;

                        .experience-details {
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                            flex-wrap: wrap;

                            .divisor {
                                height: 10px;
                                width: 1px;

                                margin: 0 8px 0 8px;

                                background-color: #fff;
                            }
                        }
                    }
                }

                #first, 
                #second {
                    align-items: center;
                }
            }
        }
    }
}