<section class="principal">
    <div class="section-header">
        <h1>
            My journey
        </h1>
    </div>

    
    <div id="journey-area">
        <div id="track-line"></div>
        
        <div id="journey-main-area">
            <div 
                class="experience-major-area"
                id="first">
                <div class="experience-card">
                    <h3 class="experience-title">
                        Software Developer
                    </h3>
                    <div class="experience-details">
                        <p class="experience-company">
                            FOA Tech - Freelancer
                        </p>

                        <span class="divisor"></span>

                        <p class="experience-time">
                            2023 - present
                        </p>

                        <span class="divisor"></span>

                        <p class="experience-location">
                            São Paulo - Brazil
                        </p>
                    </div>
                </div>
            </div>

            <div 
                class="experience-major-area"
                id="second">
                <div class="experience-card">
                    <h3 class="experience-title">
                        Full-Stack Software Developer
                    </h3>
                    <div class="experience-details">
                        <p class="experience-company">
                            HS Prevent
                        </p>

                        <span class="divisor"></span>

                        <p class="experience-time">
                            2025 - present
                        </p>

                        <span class="divisor"></span>

                        <p class="experience-location">
                            São Paulo - Brazil
                        </p>
                    </div>

                    <div class="divisor"></div>

                    <div class="experience-description">
                        <ul>
                            <li class="secondary-text">Developing full-stack systems and features;</li>
                            <li class="secondary-text">Bug's corrections;</li>
                            <li class="secondary-text">Implement scalable solutions using best practices in development;</li>

                        </ul>
                    </div>

                    <div class="divisor"></div>

                    <div class="experience-tags-area">
                        <span class="experience-tag">C#</span> 
                        <span class="experience-tag">Golang</span> 
                        <span class="experience-tag">Python</span>
                        <span class="experience-tag">Angular</span>
                        <span class="experience-tag">Typescript</span>
                        <span class="experience-tag">OCR</span>
                        <span class="experience-tag">Postgres</span>
                        <span class="experience-tag">Docker</span>
                        <span class="experience-tag">Blockchain</span>
                        <span class="experience-tag">VM</span>
                        <span class="experience-tag">Linux</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>