<section id="principal">
    <div id="about" >
        <div id="nameOcup">
            <div class="identifier" id="mark0"></div>

            <h1>Filipe de Oliveira</h1>
            <p id="ocp">Full-Stack Developer</p>
        </div>

        <div id="resume">
            <ul>
                <li class="primary-text">
                    <span class="material-symbols-outlined">
                    cake
                    </span>
                    {{currentAuthorAger}}yo
                </li>
                <li class="primary-text">
                    <span class="material-symbols-outlined">
                        home_pin
                        </span>
                    São Paulo - Brazil
                </li>
            </ul>

            <br>

            <div id="curriculum-buttom">
                <button
                    (click)="buttonToDownloadCV()">
                    Download CV
                </button>
            </div>

            <br>
            
            <p class="primary-text">
                I'm completely <strong>passionate</strong> about programming. <strong>Innovation</strong> and <strong>criativity</strong> are in my blood. I love <strong>overcoming every challenges</strong> that comes my way. <strong>Constant learning</strong> is one of my strongest characteristics.
            </p>
        </div>
    </div>
</section>