<section id="principal">
    <div id="about" >
        <div id="nameOcup">
            <div class="identifier" id="mark0"></div>

            <p id="ocp">Full-Stack Developer</p>
            <h1>Filipe de Oliveira</h1>
        </div>

        <div id="resume">
            <ul>
                <li>
                    <span class="material-symbols-outlined">
                    cake
                    </span>{{currentAuthorAger}}yo
                </li>
                <li>
                    <span class="material-symbols-outlined">
                        home_pin
                        </span>
                    São Paulo - Brazil
                </li>
            </ul>

            <div id="curriculum">
                <button><a href="./archives/curriculluns/curriculo-filipe-de-oliveira-desenvolvedor-full-stack.pdf" download>Download CV</a></button>
            </div>

            <br>
            
            <p>
                I'm completely <strong>passionate</strong> about programming. <strong>Innovation</strong> and <strong>criativity</strong> are in my blood. I love <strong>overcoming every challenges</strong> that comes my way. <strong>Constant learning</strong> is one of my strongest characteristics.
            </p>
        </div>
    </div>
</section>