#principal {
    min-height: 40vh;
    width: 100vw;

    #about {
        max-height: 165vh;
        width: 80vw;

        padding: 0 0 0 4vw;

        #mark0 {
            height: 90px;
            background-color: transparent;
        }

        #nameOcup {
            #ocp {
                font-family: "Rubik Mono One", monospace;
                font-size: 30px;
                color: #68657d; 
            }
    
            h1 {
                font-family: "Rubik Mono One", monospace;
                font-size: 50px;
                color: #dd7cfc;
            }
        }

        #resume {
            width: 90%;

            color: #b7b7b9;

            font-family: "Jost", sans-serif;
            font-size: 25px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2px;

            margin-top: 20px;

            border: 0ps solid;
            border-radius: 10px;

            // display: none;

            // animation: appear 4s;

            ul {
                list-style-type: none;

                li {
                    display: flex;
                    align-items: center;

                    span {
                        font-size: 40px;
                        color: #dd7cfc;

                        margin-right: 10px;
                    }
                }
            }

            #curriculum {
                margin: 10px 0;

                display: flex;
                align-items: center;
                flex-direction: row;

                
                button {
                    height: 35px;
                    width: 170px;

                    background-color: #68657d;
                    
                    border: 0px solid;
                    border-radius: 5px;

                    cursor: pointer;

                    transition: all 1s ease-in-out;

                    a {
                        color: #24fe00;

                        text-decoration: none;
                        font-family: "Jost", sans-serif;
                        text-transform: uppercase;
                        font-weight: 600; 

                        transition: all 1s ease-in-out;
                    }
                }

                button:hover {
                    background-color: #24fe00;
                    // box-shadow: 0px 0px 30px #24fe00;
                    all: 1s;
                    
                    a {
                        color: #000;
                        all: 1s;
                    }
                }
            }
        }
    }
}