<header>
    <p id="logo">
        // FOA //
    </p>

    <nav>
        <ul>
            <li>
                <a href="#mark0"> 
                    <span>
                        < 
                    </span> 

                    About Me 
                    <span> 
                        /> 
                    </span> 
                </a>
            </li>
            <li>
                <a href="#mark1"> 
                    <span>
                        < 
                    </span> 
                    Skills 
                    <span> 
                        /> 
                    </span> 
                </a>
            </li>
            <li>
                <a href="#mark2"> 
                    <span>
                        < 
                    </span> 
                    Projects 
                    <span> 
                        /> 
                    </span> 
                </a>
            </li>
            <li>
                <a href="#mark3"> 
                    <span>
                        <
                    </span> 
                    Talk w'me 
                    <span> 
                        /> 
                    </span> 
                </a>
            </li>
        </ul>
    </nav>

    <div 
        class="menu" 
        id="menu"
        >
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>