<header>
    <p id="logo">
        //FOA
    </p>

    <nav
        id="desktop-menu">
        <ul>
            <li>
                <a href="#mark0"> 
                    <span>
                        < 
                    </span> 

                    <strong>About Me</strong> 
                    <span> 
                        /> 
                    </span> 
                </a>
            </li>
            <li>
                <a href="#mark1"> 
                    <span>
                        < 
                    </span> 
                    <strong>Skills</strong> 
                    <span> 
                        /> 
                    </span> 
                </a>
            </li>
            <li>
                <a href="#mark2"> 
                    <span>
                        < 
                    </span> 
                    <strong>Projects</strong> 
                    <span> 
                        /> 
                    </span> 
                </a>
            </li>
            <li>
                <a href="#mark3"> 
                    <span>
                        <
                    </span> 
                    <strong>Talk w'me</strong> 
                    <span> 
                        /> 
                    </span> 
                </a>
            </li>
        </ul>
    </nav>

    <nav 
        *ngIf="showMenu"
        id="mobile-menu">
        <ul>
            <li>
                <a href="#mark0">
                    <strong>About Me</strong> 
                </a>
            </li>
            <li>
                <a href="#mark1"> 
                    <strong>Skills</strong> 
                </a>
            </li>
            <li>
                <a href="#mark2"> 
                    <strong>Projects</strong> 
                </a>
            </li>
            <li>
                <a href="#mark3"> 
                    <strong>Talk w'me</strong>
                </a>
            </li>
        </ul>
    </nav>

    <div 
        class="menu" 
        id="menu"
        (click)="toggleMenu()"
        >
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>